$primary-color: #272a31;
$accent-color: #ec5242;
$secondary-color: #d3d3d3;
$font-stack:  'Lato', sans-serif;
$font-monospace: 'COCOGOOSE', sans-serif;
$font-weights: (
  "regular": 400,
  "bold": 500,
  "bolder": 700
);
