@import './resets';
@import './variables';

body {
    margin: 0;
    padding: 0;
}

.hidden {
    display: none;
}

.intro {
    background-image: url(/LOUIS-INC/img/1.JPG);
    background-size: cover;
    height: 600px;
    padding: 20%;

    .content {
    color: $accent-color;
    padding: auto auto;
    margin: 0;

        .sub {
            font-size: small;
        }

        .main {
            font-size: large;
        }
    }
}

.main-program {
    background-color: #2e2d2d;
    color: $secondary-color;
    padding: 10px auto;

        .program {
            background-color: #646464;
            padding: 10px;
            margin: 10px;
            display: flex;

            .p-icon {
                fill: $secondary-color;
                width: 50px;
                height: 50px;
                margin: 0;
            }

            .p-title {
                font-size: 10px;
                padding: 0;
                margin: 0;
            }
            
            .p-text {
                font-size: 10px;
                padding: 0;
                margin: 0;
            }
        }
}

.featured-speaker {
    padding: 0 0;
    margin: 0 0;
}
