* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

.hidden {
  display: none;
}

.head {
  position: relative;
}

.head .menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
}

.intro {
  background-color: #333333dc;
  background-image: url(/LOUIS-INC/img/download.jpg);
  background-size: cover;
  padding: 10px;
  z-index: 1;
}

.intro .content {
  color: #ec5242;
  padding: 10px;
}

.intro .content h5 {
  font-weight: 200;
}

.intro .content h1 {
  font-weight: bolder;
}

.intro .welcome {
  padding: 10px;
  border: #fff 2px solid;
}

.intro .welcome p {
  margin: 0;
  font-size: small;
}

.intro .featured {
  color: #272a31;
  margin-bottom: 20px;
  padding: 3px;
}

.intro .featured .date {
  font-family: "COCOGOOSE", sans-serif;
}

.main-program {
  background-color: #2e2d2d;
  color: #d3d3d3;
  padding: 10px;
}

.main-program h3 {
  font-size: larger;
  padding: 5px;
  text-align: center;
  color: #fff;
}

.main-program h3:after {
  content: " ";
  display: block;
  margin: 0 auto;
  width: 10%;
  padding-top: 10px;
  border-bottom: 1px solid #ec5242;
}

.main-program .program {
  background-color: #646464;
  padding: 5px;
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-program .program .p-icon {
  fill: #d3d3d3;
  margin: 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.main-program .program .p-title {
  font-size: 12px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: #ec5242;
  margin: 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.main-program .program .p-text {
  font-size: 11px;
  padding: 0 2px;
  margin: 0;
}

.main-program .join {
  text-align: center;
  padding: 3px;
  background-color: #ec5242;
  color: #fff;
  margin: 10px;
}

.speakers {
  padding: 10px;
  background-color: #fff;
  color: #272a31;
}

.speakers h5 {
  padding: 10px;
  text-align: center;
  color: #272a31;
}

.speakers h5:after {
  content: " ";
  display: block;
  margin: 0 auto;
  width: 10%;
  padding-top: 20px;
  border-bottom: 1px solid #ec5242;
}

.speakers .speaker {
  background-color: #fff;
  padding: 2px;
  margin: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.speakers .speaker .f-share {
  font-weight: bold;
}

.speakers .speaker .f-image {
  position: relative;
  padding: 5px;
  width: 40%;
  height: 80%;
  margin-top: 10px;
  margin-left: 10px;
  background-size: 70%;
  background-repeat: no-repeat;
  background-image: url(/LOUIS-INC/img/1.JPG);
}

.speakers .speaker .f-image img {
  position: absolute;
  right: 0;
  bottom: 10%;
  width: 90%;
}

.speakers .speaker .f-text {
  margin-left: 10px;
  padding: 10px;
  float: right;
}

.speakers .speaker .f-text .f-title {
  font-style: italic;
  color: #ec5242;
  font-size: x-small;
}

.speakers .speaker .f-text .f-title:after {
  content: " ";
  display: block;
  margin: 0;
  width: 10%;
  padding: 5px;
  margin-bottom: 10px;
  border-bottom: 1px solid #272a31;
}

.speakers .speaker .f-text .f-teenage {
  font-size: smaller;
}

.speakers .more {
  text-align: center;
  font-size: smaller;
  padding: 10px;
  margin: 15px 0;
  border: 0.1px solid #272a31;
}

.speakers .more i {
  padding: 5px;
  fill: #ec5242;
}
/*# sourceMappingURL=index.css.map */