* {
    margin: 0;
    padding: 0;
  }
  
  body {
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
  }
  
  .hidden {
    display: none;
  }

  .head {
    position: relative;
  }
  
  .head .menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
  }

  .head .nav-bar {
    display: none;
  }
  
  .intro {
    background-color: #fff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3Crect stroke='%23ffffff' stroke-width='.5' width='1' height='1' id='s'/%3E%3Cpattern id='a' width='3' height='3' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cuse fill='%23fafafa' href='%23s' y='2'/%3E%3Cuse fill='%23fafafa' href='%23s' x='1' y='2'/%3E%3Cuse fill='%23f5f5f5' href='%23s' x='2' y='2'/%3E%3Cuse fill='%23f5f5f5' href='%23s'/%3E%3Cuse fill='%23f0f0f0' href='%23s' x='2'/%3E%3Cuse fill='%23f0f0f0' href='%23s' x='1' y='1'/%3E%3C/pattern%3E%3Cpattern id='b' width='7' height='11' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%23ebebeb'%3E%3Cuse href='%23s'/%3E%3Cuse href='%23s' y='5' /%3E%3Cuse href='%23s' x='1' y='10'/%3E%3Cuse href='%23s' x='2' y='1'/%3E%3Cuse href='%23s' x='2' y='4'/%3E%3Cuse href='%23s' x='3' y='8'/%3E%3Cuse href='%23s' x='4' y='3'/%3E%3Cuse href='%23s' x='4' y='7'/%3E%3Cuse href='%23s' x='5' y='2'/%3E%3Cuse href='%23s' x='5' y='6'/%3E%3Cuse href='%23s' x='6' y='9'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='h' width='5' height='13' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%23ebebeb'%3E%3Cuse href='%23s' y='5'/%3E%3Cuse href='%23s' y='8'/%3E%3Cuse href='%23s' x='1' y='1'/%3E%3Cuse href='%23s' x='1' y='9'/%3E%3Cuse href='%23s' x='1' y='12'/%3E%3Cuse href='%23s' x='2'/%3E%3Cuse href='%23s' x='2' y='4'/%3E%3Cuse href='%23s' x='3' y='2'/%3E%3Cuse href='%23s' x='3' y='6'/%3E%3Cuse href='%23s' x='3' y='11'/%3E%3Cuse href='%23s' x='4' y='3'/%3E%3Cuse href='%23s' x='4' y='7'/%3E%3Cuse href='%23s' x='4' y='10'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='c' width='17' height='13' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%23e5e5e5'%3E%3Cuse href='%23s' y='11'/%3E%3Cuse href='%23s' x='2' y='9'/%3E%3Cuse href='%23s' x='5' y='12'/%3E%3Cuse href='%23s' x='9' y='4'/%3E%3Cuse href='%23s' x='12' y='1'/%3E%3Cuse href='%23s' x='16' y='6'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='d' width='19' height='17' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%23ffffff'%3E%3Cuse href='%23s' y='9'/%3E%3Cuse href='%23s' x='16' y='5'/%3E%3Cuse href='%23s' x='14' y='2'/%3E%3Cuse href='%23s' x='11' y='11'/%3E%3Cuse href='%23s' x='6' y='14'/%3E%3C/g%3E%3Cg fill='%23e0e0e0'%3E%3Cuse href='%23s' x='3' y='13'/%3E%3Cuse href='%23s' x='9' y='7'/%3E%3Cuse href='%23s' x='13' y='10'/%3E%3Cuse href='%23s' x='15' y='4'/%3E%3Cuse href='%23s' x='18' y='1'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='e' width='47' height='53' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%23F60'%3E%3Cuse href='%23s' x='2' y='5'/%3E%3Cuse href='%23s' x='16' y='38'/%3E%3Cuse href='%23s' x='46' y='42'/%3E%3Cuse href='%23s' x='29' y='20'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='f' width='59' height='71' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%23F60'%3E%3Cuse href='%23s' x='33' y='13'/%3E%3Cuse href='%23s' x='27' y='54'/%3E%3Cuse href='%23s' x='55' y='55'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='g' width='139' height='97' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%23F60'%3E%3Cuse href='%23s' x='11' y='8'/%3E%3Cuse href='%23s' x='51' y='13'/%3E%3Cuse href='%23s' x='17' y='73'/%3E%3Cuse href='%23s' x='99' y='57'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23b)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23h)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23c)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23d)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23e)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23f)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23g)' width='100%25' height='100%25'/%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 15px;
    z-index: 1;
  }
  
  .intro .content {
    color: #ec5242;
    padding: 10px;
  }
  
  .intro .content h5 {
    font-weight: 200;
  }
  
  .intro .content h1 {
    font-weight: bolder;
    font-size: 30px;
  }
  
  .intro .welcome {
    padding: 2px;
    border: rgba(165, 162, 162, 0.356) 2px solid;
  }
  
  .intro .welcome p {
    margin: 0;
    font-size: 10px;
    padding: 2px;
  }

  .intro .featured {
    color: #272a31;
    margin-bottom: 20px;
    padding: 3px;
  }
  
  .intro .featured .date {
    font-family: "COCOGOOSE", sans-serif;
    font-size: 15px;
  }

  .intro .featured .location {
    font-size: 12px;
  }

  .main-program {
    background-color: #000;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='250' height='30' viewBox='0 0 1000 120'%3E%3Cg fill='none' stroke='%23222' stroke-width='10' %3E%3Cpath d='M-500 75c0 0 125-30 250-30S0 75 0 75s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 45c0 0 125-30 250-30S0 45 0 45s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 105c0 0 125-30 250-30S0 105 0 105s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 15c0 0 125-30 250-30S0 15 0 15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500-15c0 0 125-30 250-30S0-15 0-15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 135c0 0 125-30 250-30S0 135 0 135s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3C/g%3E%3C/svg%3E");
    color: #d3d3d3;
    padding: 10px;
  }
  
  .main-program h3 {
    font-size: larger;
    padding: 5px;
    text-align: center;
    color: #fff;
  }
  
  .main-program h3:after {
    content: " ";
    display: block;
    margin: 0 auto;
    width: 30px;
    padding-top: 10px;
    border-bottom: 1px solid #ec5242;
  }
  
  .main-program .program {
    background-color: #646464c7;
    padding: 5px;
    margin: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .main-program .program .p-icon {
    fill: #d3d3d3;
    align-self: center;
    margin: 0;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  
  .main-program .program .p-title {
    font-size: 12px;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    color: #ec5242;
    margin: 0;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  
  .main-program .program .p-text {
    font-size: 11px;
    padding: 0 2px;
    justify-content: center;
    margin: 0;
  }
  
  .main-program .join {
    text-align: center;
    padding: 3px;
    background-color: #ec5242;
    color: #fff;
    margin: 30px 10px 10px 10px;
  }

  .main-program .join-text {
    display: none;
  }
  
@media screen and (min-width: 320px) {

  .bla {
    margin:5px 0 60px 0;
  }

  .main-program .program .put {
    margin: 5px 0 40px 0;
  }

  .speakers {
    padding: 10px;
    background-color: #fff;
    color: #272a31;
  }
  
  .speakers h5 {
    font-weight: bold;
    padding: 10px;
    text-align: center;
    color: #272a31;
  }
  
  .speakers h5:after {
    content: " ";
    display: block;
    margin: 0 auto;
    width: 30px;
    padding-top: 20px;
    border-bottom: 1px solid #ec5242;
  }

  .speakers .hide {
      display: none;
      background-color: rgb(82, 1, 1);
  }
  
  .speakers .speaker {
    background-color: #fff;
    padding: 2px;
    margin: 4px;
    display: flex;
  }
  
  .speakers .speaker .f-share {
    font-weight: bold;
  }
  

  .speakers .speaker .image {
    position: relative;
    padding: 2px;
    display: block;
    width: 100%;
  }

  .speakers .speaker .image .f-image {
    width: 100px;
    height: 100px;
    padding: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    background-size: 40px;
    background-repeat: no-repeat;
    background-image: url(/LOUIS-INC/img/box.jpg);

  }
  
  .speakers .speaker .image .f-image .over img {
    height: auto;
    width: 20px;
  }
  
  .speakers .speaker .f-share h6 {
    font-weight: bold;
    font-size: 12px;
  }

  .speakers .speaker .f-text {
    margin-left: 10px;
    padding: 5px;
    float: right;
  }
  
  .speakers .speaker .f-text .f-title {
    font-style: italic;
    color: #ec5242;
    font-size: 10px;
  }
  
  .speakers .speaker .f-text .f-title:after {
    content: " ";
    display: block;
    margin: 0;
    width: 10%;
    padding: 2px;
    margin-bottom: 10px;
    border-bottom: 1px solid #272a31;
  }
  
  .speakers .speaker .f-text .f-teenage {
    font-size: 11px;
  }
  
  .speakers .more {
    text-align: center;
    font-size: smaller;
    padding: 10px;
    margin: 15px 0;
    border: 0.1px solid #272a31;
  }
  
  .speakers .more i {
    padding: 5px;
    fill: #ec5242;
  }
  
  .partner {
    padding: 10px;
    background-color: rgb(41, 41, 41);
    color: #272a31;
  }

  .partner h5 {
    font-weight: bold;
    padding: 10px;
    text-align: center;
    color: #686969;
  }

  .partner h5:after {
    content: " ";
    display: block;
    margin: 0 auto;
    width: 30px;
    padding-top: 20px;
    border-bottom: 1px solid #ec5242;
  }

  .partner .place {
    padding: 10px;
    display: flex;
    flex-direction: column;
  }

  .partner .place .partners {
    padding: 10px;
    align-items: center;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    width: fit-content;
  }

  .partner .place .partners .p-logo {
    padding: 5px;
    margin:  2px 2px;
  }

  .partner .place .partners .p-logo img {
    width: 50px;
    height: 50px;
  }

  footer {
    display: block;
    padding: 2px;
  }

  .foot {
    display: flex;
    flex-direction: column;
    padding: 2px;
  }

  .foot .f-content {
    display: flex;
    flex-direction: row;
    margin: auto;
    padding: 20px;
    justify-content: space-between;
  }

  .foot .f-content .f-logo img {
    width: 50px;
    height: 50px;
    margin: auto;
  }

  .foot .f-content .f-text {
    display: flex;
    flex-direction: column;
    float: right;
    margin: auto;
    padding: 0 0 0 10%;
  }

  .foot .f-content .f-text .copyright h6 {
    font-size: 10px;
  }

  .foot .f-content .f-text .license p {
    display: none;
  }
}

  @media screen and (min-width: 768px) {
  .head {
    position: relative;
  }

  .head .nav-bar {
    display: flex;
    flex-direction: column;
  }

  .nav-item {
    padding: 10px 10%;
    display: flex;
    flex-direction: row;
  }

  .nav-bar .nav-item .nav-logo img{
    width: 50px;
    height: auto;
  }

  .nav-bar .nav-item .nav-list {
    display: flex;
    flex-direction: row;
    list-style: none;
    position: absolute;
    right: 10%;
  }

  .nav-bar .nav-item .nav-list .nav-tab {
    padding: 10px;
    margin: 5px 0 5px 0;
  }

  .nav-bar .nav-item .nav-list .nav-tab a {
    text-decoration: none;
    color: #272a31;
  }
    
  .nav-bar .nav-item .nav-list .nav-tab a:active {
    color: #ec5242;
    font-family: "Lato", sans-serif ;
  }

  .menu {
    display: none;
  }

  .intro .content {
    padding: 10px 10%;
  }

  .intro .content .sub {
    display: flex;
    font-size: 70px;
    font-weight: bolder;
  }

  .intro .cintent .main {
    font-size: 500px;
    font-weight: bolder;
    line-height: 50px;
  }

  .intro .welcome {
    padding: 10px 10%;
    width: 80%;
  }

  .intro .featured {
    margin: 5px auto ;
    padding: 10px 10%;
  }

  .bla {
    margin:5px 0 60px 0;
    text-align: center;
    align-content: center;
  }

  .join {
    display: none;
  }

  .main-program .join-text {
    display: unset;
    align-self: center;
    font-size: 10px;
    font-weight: bold;
  }

  .main-program .put {
    margin: auto;
  }

  .main-program .put .mide {
    width: fit-content;
    margin: auto;
    padding-bottom: 20px;
  }
    
  .mide .program {
    max-width: 130px;
    max-height: 140px;
    padding: 2px 0 15px 0;
    display: block;
    margin: 1px;
  }

  .mide .program:hover {
    border: #fff 1px solid ;
  }

  .mide .program .p-icon {
    color: #fff;
    font-size: 25px;
    margin: 10px 0 2px 28%;
  }
    
  .mide .program .p-title {
    font-size: 15px;
    padding: 0;
    margin: auto 30%;
  }

  .mide .program .p-text {
    font-size: 9px;
    margin: 0 auto 20px auto;
  }

  .speakers {
    padding: 5px;
  }

  .speakers h5 {
    font-size: larger;
  }

  .speakers .hide {
    padding: 10px;
    max-width: 47%;
    display: flex;
    background-color: #fff;
  }

  .speakers .speaker {
    padding: 5px;
    max-width: 47%;
  }

  .speakers .speaker .image {
    width: 100%;
  }

  .wide {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 10px;
  }
    
  .speakers .speaker .wide .f-image {
    margin-right: 10px;
  }
    
  .speakers .speaker .f-image img {
    position: absolute;
    margin: 0;
    left: 12px;
    width: 80px;
    top: 12px;
  } 

  .speaker .speaker .f-text {
    width: 70%;
  }

  .speakers .speaker .f-share h6 {
    font-weight: bold;
  }

  .speakers .speaker .f-text .f-title {
    font-size: 9px;
  }

  .speakers .speaker .f-text .f-teenage {
    font-size: 10px;
  }

  .speakers .more {
    display: none;
  }

  .wide {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 50px;
  }
  
  .partner {
    padding: 10px;
    background-color: rgb(41, 41, 41);
    color: #272a31;
  }
  
  .partner h5 {
    font-weight: bold;
    padding: 10px;
    text-align: center;
    color: #686969;
  }
  
  .partner h5:after {
    content: " ";
    display: block;
    margin: 0 auto;
    width: 30px;
    padding-top: 20px;
    border-bottom: 1px solid #ec5242;
  }
  
  .partner .place {
    padding: 10px;
    display: flex;
    flex-direction: column;
  }
  
  .partner .place .partners {
    padding: 10px;
    align-items: center;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    width: fit-content;
  }
  
  .partner .place .partners .p-logo {
    padding: 5px;
    margin:  2px 2px;
  }
  
  .partner .place .partners .p-logo img {
    width: 100px;
    height: 100px;
  }
  
  footer {
    display: block;
    padding: 2px;
  }
  
  .foot {
    padding: 20px;
    display: flex;
    flex-direction: row;
    margin: auto;
  }
  
  .foot .last {
    display: flex;
    flex-direction: row;
    margin: auto;
    padding: 10px 10%;
  }

  .foot .last .f-content {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: auto;
  }
  
  .foot .f-content .f-logo img {
    width: 90px;
    height: 90px;
    padding: 0;
    margin-left: 60px;
    margin-right: 10px;
  }
  
  .foot .f-content .f-text {
    line-height: 10px;
  }
  
  .foot .f-content .f-text .copyright h6 {
    font-size: 12px;
  }
  
  .foot .f-content .f-text .license p {
    font-size: 12px;
    display: unset;
  }
}

 @media screen and (min-width: 1024px) {
  .intro .content {
    width: 100%;
  }

  .intro .content .sub h5 {
    font-size: 30px;
    font-weight: 100;
  }

  .intro .content .main h1 {
    font-size: 80px;
    font-weight: bolder;
    ine-height: 100px;
  }

  .intro .welcome p {
    margin-top: 20px;
    padding: 10px;
    background-color: #d5d6d62c;
    font-size: 15px;
  }

  .intro .featured h4 {
    font-size: 30px;
    margin-top: 20px;
  }

  .intro .featured p {
    margin-top: 10px;
    font-size: 25px;
  }
    
  .main-program h3 {
    font-size: 25px;
    font-weight: bold;
  }

  .main-program .put {
    margin: auto;
  }

  .main-program .put .mide {
    width: fit-content;
    margin: auto;
  }

  .mide .program {
    max-width: 190px;
    max-height: 170px;
    padding: 5px;
    display: block;
  }

  .mide .program:hover {
    border: #fff 1px solid ;
  }

  .mide .program .p-icon {
    color: #fff;
    font-size: 35px;
    margin: 10px 0 2px 28%;
  }
    
  .mide .program .p-title {
    font-size: 19px;
    padding: 0;
    margin: auto 30%;
  }

  .mide .program .p-text {
    font-size: 11px;
    margin: auto;
    padding-bottom: 15px;
  }
    
  .speakers {
    display: flex;
    flex-direction: column;
  }

  .speakers h5 {
    font-size: 30px;
    font-weight: bold;
  }

  .speakers .speaker {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  .speakers .speaker .image {
    width: 200px;
    height: 100px;
    padding: 0;
    margin: 5px;
  }
    
  .speakers .speaker .image .f-image {
    width: 150px;
    margin: 5px;
    background-size: 60px;
  }
    
  .speakers .speaker .image .f-image img {
    width: 80%;
    margin: 5px auto;
    padding-left: 5px;
  }
    
  .speakers .speaker .f-text {
    padding-top: 5px;
  }
    
  .speakers .speaker .f-text .f-share h6 {
    font-size: 16px;
  }

  .speakers .speaker .f-text .f-title span {
    font-size: 12px;
  }

  .speakers .speaker .f-text .f-teenage p {
    font-size: 14px;
  }

  .partner {
    display: flex;
    flex-direction: column;
  }
}
